<div class="mw-700 mx-auto">
    <header class="container-fluid b-header ht4">
        <div class="row">
            <div class="col-10">
                <dl class="mb-0 mt-soul">
                    <dt class="c-soul">SOUL</dt>
                    <dd class="italic mb-0">THERAPY</dd>
                </dl>
            </div>
            <div class="col-2 mt-4 text-right">
                <a [routerLink]="['/splash']" class="c-light pl-0 pr-1">Cancel</a>
            </div>
        </div>
    </header>
    <main>
        <p class="my-4 px-4">This Privacy Policy governs the manner in which the website collects, uses, maintains and discloses information collected from users of the website. This Privacy Policy applies to the website.</p>
    </main>
    <app-footer></app-footer>
    </div>
