<div class="mw-700 mx-auto">
<header class="container-fluid b-header ht4">
    <div class="row">
        <div class="col-10">
            <dl class="mb-0 mt-soul">
                <dt class="c-soul">SOUL</dt>
                <dd class="italic mb-0">THERAPY</dd>
            </dl>
        </div>
        <div class="col-2 mt-4 text-right">
            <a [routerLink]="['/splash']" class="c-light pl-0 pr-1">Cancel</a>
        </div>
    </div>
</header>
<main>
    <h2 class="mt-4 c-soul">Login</h2>
    <form [formGroup]="loginForm" class="mt-4">
        <div class="form-group">
            <label for="email-address">Email Address</label>
            <input formControlName="emailAddress" [ngClass]="{'is-invalid': showEmailRequired}" type="email" class="form-control" id="email-address">
            <small id="invalid-email-password" [ngClass]="{'hidden': hideInvalidEmailPassword}" class="form-text text-danger">Invalid Email Address/Password combination. Please try again.</small>
            <div class="invalid-feedback">
                Please enter Email Address
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input formControlName="password" [ngClass]="{'is-invalid': showPassRequired}" type="password" class="form-control" id="password">
            <div class="invalid-feedback">
                Please enter Password
            </div>
        </div>
        <button class="btn btn-outline-primary c-soul mb-4" (click)="login()">Log In</button>
    </form>
</main>
<app-footer></app-footer>
</div>