<header class="container-fluid b-header ht4">
    <div class="row">
        <div class="col-10">
            <dl class="mb-0 mt-soul">
                <dt class="c-soul">SOUL</dt>
                <dd class="italic mb-0">THERAPY</dd>
            </dl>
        </div>
        <div class="col-2 mt-4 text-right">
            <a [routerLink]="['/splash']" class="c-light pl-0 pr-1">Cancel</a>
        </div>
    </div>
</header>
<main>
    <form [formGroup]="signupForm">
        <div class="form-group">
            <label for="email-address">Email Address</label>
            <input formControlName="emailAddress" [ngClass]="{'is-invalid': showEmailRequired}" type="email" class="form-control" id="email-address">
            <small id="email-address-error" [ngClass]="{'hidden': hideAddressInUse}" class="form-text text-danger">Email address is already in use. Please try another.</small>
            <div class="invalid-feedback">
                Please enter Email Address
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input formControlName="password" [ngClass]="{'is-invalid': showPassRequired}" type="password" class="form-control" id="password">
            <div class="invalid-feedback">
                Please enter Password
            </div>
        </div>
        <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input formControlName="confirmPassword" [ngClass]="{'is-invalid': showConfPassRequired}" type="password" class="form-control" id="confirm-password">
            <div class="invalid-feedback">
                Please enter Confirm Password
            </div>
        </div>
        <button class="btn btn-primary" (click)="signup()">Sign Up</button>
    </form>
</main>
<app-footer></app-footer>