<header class="container-fluid b-header ht4">
    <div class="row">
        <div class="col-12 col-sm-8">SOUL</div>
        <div class="col-12 col-sm-4">
            <a [routerLink]="['/splash']">Cancel</a>
        </div>
    </div>
</header>
<main>
    <form>
        <div class="form-group">
            <label for="email-address">Email Address</label>
            <input type="email" class="form-control" id="email-address">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" class="form-control" id="confirm-password">
        </div>
        <button class="btn btn-primary" (click)="signup()">Sign Up</button>
    </form>
</main>
<app-footer></app-footer>